[Unit]
Description=Web service for gathering sensornet results
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/gosense
ExecStart=/usr/sbin/gosense -uri $AMQP_URI -exchange $EXCHANGE -key $KEY -queue $QUEUE -exchange-type topic -port $PORT

[Install]
WantedBy=multi-user.target
