[Unit]
Description=Web service for gathering sensornet results
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/gosense
ExecStart=/usr/sbin/gosense -uri $AMQP_URI -exchange sensornet.data -key sensornet.data -queue sensornet.data -exchange-type topic

[Install]
WantedBy=multi-user.target
